* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.display--notes--contaier {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.display--notes {
  width: 450px;
  border: 1px solid blue;
  background-color: rgba(23, 23, 23, 0.762);
  color: white;
  padding: 10px;
  margin: 12px;
  border-radius: 14px;
}
.display--tag {
  border: 1px solid white;
  padding: 2px;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
}
.title--container {
  display: flex;
  align-items: center;
}
.title--heading {
  background-color: rgb(7, 73, 241);
  font-size: 1.4rem;
  color: white;
  padding: 4px;
  display: block;
  width: 90px;
  text-align: center;
  border-radius: 5px;
}
.display--title {
  color: rgb(248, 249, 251);
  font-size: 1.4rem;
  margin-left: 14px;
}
.description--heading {
  background-color: rgb(7, 73, 241);
  font-size: 1rem;
  color: white;
  padding: 4px;
  display: block;
  width: 140px;
  text-align: center;
  border-radius: 5px;
}
.display--description {
  color: rgb(250, 252, 255);
  font-size: 1.1rem;
  margin-left: 14px;
  width: 80%;
}
.display--time {
  background-color: rgb(7, 73, 241);
  font-size: 1rem;
  color: white;
  padding: 4px;
  display: block;
  width: 66%;
  padding-left: 18px;
  border-radius: 5px;
}
@media only screen and (max-width: 422px) {
  .display--time {
    width: 70%;
  }
}
.icon--container {
  margin: 6px;
}
.display--icon {
  padding: 10px 6px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 25px;
}
.display--icon:hover {
  border: 1px solid white;
  background-color: rgba(160, 161, 161, 0.662);
}

/* edit modal */
.input--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
.input--container label {
  font-size: 18px;
  width: 120px;
  text-align: center;
  background-color: rgb(7, 73, 241);
  padding: 4px;
  display: block;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.input--container input,
textarea {
  width: 300px;
  display: block;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: 2px solid black;
}
.input--tag--select {
  width: 300px;
  display: block;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
}
.input--tag--select option {
  font-weight: bold;
  color: black;
}
.input--container textarea {
  height: 80px;
  border: 2px solid black;
}
.add--new--note {
  background-color: #0000ff;
  font-size: 18px;
  color: white;
  padding: 4px;
  display: block;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  outline: none;
  border: none;
}
.add--new--note:hover {
  background-color: rgb(8, 78, 255);
}
.toast--message {
  font-weight: bold !important;
  color: black !important;
}

/* login page design */
.login--main--container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login--container {
  width: 450px;
  border: 2px solid rgb(4, 182, 236);
  background-color: white;
  border-radius: 8px;
}
.login--container h1 {
  text-align: center;
  font-size: 23px;
  padding: 8px;
  color: rgb(2, 69, 183);
  font-weight: bold;
}
.login--input {
  width: 80%;
  display: block;
  margin: 12px auto;
  outline: none;
  border: none;
  padding: 6px;
  border-bottom: 2px solid black;
  font-weight: bold;
}
.login--input::placeholder {
  color: black;
  font-weight: bold;
}
.login--button {
  display: block;
  width: 80%;
  margin: 14px auto;
  padding: 6px;
  font-weight: bold;
  border: 2px solid black;
}
.login--button:hover {
  background-color: antiquewhite;
}
.login--link {
  width: 100%;
  display: block;
  padding-left: 40px;
  margin: 8px;
  text-decoration: none;
  color: rgb(6, 77, 192);
  font-weight: bold;
}
.login--link:hover {
  text-decoration: underline;
  color: rgb(57, 103, 176);
}
.password--changer {
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.password--changer input {
  padding: 10px;
  margin-left: 38px;
  margin-right: 10px;
}
.password--changer label {
  cursor: pointer;
}

/* end of  login page */
/* Signup page design section */

.signup--container--first {
  background-color: rgb(47 8 130 / 92%);
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.signup--container {
  position: relative;
  width: 412px;
  height: 336px;
  border: 2px solid white;
  border-radius: 8px;
  border-top-right-radius: 0;
}
.signup--link {
  display: block;
  width: 40px;
  padding: 7px;
  text-align: center;
  background: red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
.signup--link:hover {
  background-color: rgba(255, 51, 51, 0.842);
  color: white;
}
.signup--container p {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.signup--form {
  /* border: 1px solid red; */
  margin-top: 20px;
}
.signup--input {
  display: block;
  width: 85%;
  /* margin: 0 auto; */
  padding: 6px;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 16px;
  text-align: center;
  /* letter-spacing: 1.4px; */
  border: 2px solid white;
  font-weight: bold;
}
.inone {
  border-left: none;
  margin-left: 40px;
}
.intwo {
  border-right: none;
  border-top: none;
  margin-left: 39px;
  margin-top: -2px;
}
.inthree {
  border-top: none;
  border-left: none;
  margin-left: 39px;
  letter-spacing: 1.4px;
}
.signup--input::placeholder {
  color: white;
}
.signup--button {
  display: block;
  padding: 6px;
  width: 85%;
  margin-left: 38px;
  margin-top: 20px;
  border: 2px solid white;
  font-weight: bolder;
  letter-spacing: 1.5px;
  border-radius: 16px;
  color: white;
  font-size: 16;
  background-color: rgba(134, 209, 185, 0.493);
}
.signup--button:hover {
  background-color: rgba(134, 209, 185, 0.636);
}

/* end of signup page design section */

/* about page design */
.about--modal--tag {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 10px;
}
.about--modal {
  border-radius: 8px !important;
  border: 2px solid white;
  padding: 5px;
}
.account--heading {
  font-size: 15px !important;
  font-weight: bold;
}
.account--longout {
  width: 92%;
  display: block;
  margin: auto;
}
.nav--logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
  border: 1px solid white;
}
.my--product--notfound p {
  text-align: center;
  font-size: 22px;
  color: rgb(248, 48, 48);
  font-weight: bold;
  user-select: none;
}
.my--product--notfound {
  width: 100%;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin: 20px auto;
  border: 1px solid blue;
}
.my--product--notfound img {
  display: block;
  width: 350px;
  margin: auto;
}
.developer--container {
  height: 500px;
}
.developer--pic {
  width: 300px;
  height: 300px;
  display: block;
  margin: 15px auto;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
}
.developer--name {
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: bold;
}
.developer--work {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: overline;
  padding: 2px;
}
.footer--container {
  text-align: center;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.684);
  margin: 0;
  padding: 8px;
  position: fixed;
  bottom: 0;
}
.footer--container span {
  font-weight: 500;
}
.loading--placeholder {
  margin: 10px auto;
  width: 70%;
}
.my--placeholder {
  width: 350px;
  height: 440px;
  margin: 10px auto;
}
.my--placeholder img {
  display: block;
  background-color: rgb(139, 136, 136);
  width: 100% !important;
  height: 200px;
}
.placecard--none {
  flex-direction: row;
}
